#landing-hero{
    min-width: 30vw;
}

.circles{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0px 20px ;
}

.circle{
    background: lightcoral;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: inline-block;
}

.circle:nth-of-type(even){
    opacity: 10%;
    animation-name: even-circle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.circle:nth-of-type(odd){
    opacity: 10%;
    animation-name: even-circle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes even-circle{
    from {opacity: 10%;}
    to {opacity: 100%;}
}
