:root {
    --chat-theme: #032734;
  }

html,body{
    overflow-y: hidden;
}

.chat{
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: 4fr 10fr 1fr;
    grid-template-rows: 70px 10fr 1fr;
    grid-template-areas: 
    "sideheader header toolsnav"
    "sidenav main toolsnav"
    "sidenav chatfield toolsnav";

    
}

.sidenav-header{
    grid-area: sideheader;
    border-bottom: 1px solid;
    border-color: white;
    background: var(--chat-theme);

}

.chat-header{
    grid-area: header;
    background: var(--chat-theme);
    margin: 0px 2px 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.chat-sidenav{
    grid-area: sidenav;
    background: var(--chat-theme);
    text-align: center;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-chat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: main;
    height: 100%;
    min-width: 450px;
    border-right: 0.5px solid;
    border-color: lightgray;

}

.tools-nav{
    grid-area: toolsnav;
    background: var(--chat-theme);
}

.chatbody{
    height: 100%;
    max-height: 720px;
    overflow-y: scroll;
    width: 98%;
    background: #F6F9FA;
    border-radius: 2%;
    overflow-x: hidden;
}

.chat-field-container{
    display: flex;
    border-right: 0.5px solid;
    border-color: lightgray;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
}