:root {
    --chat-theme: #032734;
  }

.chat{
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: 4fr 10fr 1fr;
    grid-template-rows: 70px 10fr 1fr;
    grid-template-areas: 
    "sideheader header toolsnav"
    "sidenav main toolsnav"
    "sidenav chatfield toolsnav";

    
}

.sidenav-header{
    grid-area: sideheader;
    border-top-right-radius: 10px;
    border-bottom: 1px solid;
    border-color: white;
    background: var(--chat-theme);

}

.chat-header{
    grid-area: header;
    border-top-right-radius: 20px;
    background: var(--chat-theme);
    margin: 0px 2px 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.chat-sidenav{
    grid-area: sidenav;
    background: var(--chat-theme);
}

.main-chat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: main;
    height: 100%;
    border-right: 0.5px solid;
    border-color: lightgray;

}

.tools-nav{
    grid-area: toolsnav;
    border-top-left-radius: 5px;
    background: var(--chat-theme);
}

.chatbody{
    height: 100%;
    width: 98%;
    background: #F6F9FA;
    border-radius: 2%;
}

.chat-field-container{
    display: flex;
    border-right: 0.5px solid;
    border-color: lightgray;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
}