.home{
    display: grid;
    min-height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "main"
    "header";

    background: rgb(3,39,52);
    background: linear-gradient(133deg, rgba(3,39,52,1) 2%, rgba(5,54,64,1) 52%, rgba(3,39,52,1) 100%);
}

.main{
    grid-area: "main";
    padding:2%;
    padding-top: 10%;
    display:flex;
    justify-content: space-around;
    color: white;
}


#div-text{
    height: fit-content;

}

#subheading-text{
    max-width: 450px;
    margin-bottom: 30px;
}

#landing-image{
    height:fit-content;

}

#landing-text{
    font-size:50px;
    max-width: 500px;
}

em{
    color: darksalmon;
}


.loginLanding{
}

.buttons{
    height: 50px;
}
