.home{
    display: grid;
    min-height: 100%;
    height: 100vh;;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "main"
    "header";

    background: rgb(3,39,52);
    background: linear-gradient(133deg, rgba(3,39,52,1) 2%, rgba(5,54,64,1) 52%, rgba(3,39,52,1) 100%);
}

.main{
    grid-area: "main";
    height: 90vh;
    display: flex;
    align-items: center;
    display:flex;
    justify-content: space-around;
    color: white;
}


#div-text{
    height: fit-content;

}

#subheading-text{
    max-width: 450px;
    margin-bottom: 30px;
}

#landing-image{
    height:fit-content;

}

#landing-text{
    font-size:50px;
    max-width: 500px;
}

em{
    color: darksalmon;
}

.buttons{
    height: 50px;
}

@media only screen and (max-width: 487px) {
    #landing-image {
      display: none;
    }

    #div-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #landing-text{
        text-align: center;
    }
    #subheading-text{
        text-align: center;
    }
  }