.messagebox{
    min-height: 25px;
    width: auto;
    height: max-content;
    min-width: 10px;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    position: relative;
}

.message-div{
    min-height: 50px;
    width: max-content;
    max-width: 400px;
    word-wrap: break-word;
    margin: 1px 10px 1px 10px;
    padding: 3px 0px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: relative;
    height: max-content;
}

.message{
    margin: 5px 90px 5px 10px;
    width: max-content;
    max-width: 80%;
}

.message-self{
    margin-left: auto;
    background-color: #032734;
    color: white;
    margin-right: 1rem;
    border-radius: 5px 0px 5px 5px;
}

.message-friend{
    margin-right:auto;
    margin-left: 1rem;
    background-color: gray;
    border-radius: 0px 5px 5px 5px;
    color: white;

}

.message-self:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid #032734;
    border-right: 7px solid transparent;
    border-top: 7px solid #032734;
    border-bottom: 7px solid transparent;
    right: -13px;
    top: 0px;
  }

  .message-friend:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid gray;
    border-top: 7px solid gray;
    border-bottom: 7px solid transparent;
    left: -13px;
    top: 0px;
  }

.msg-info{
    margin-right: 10px;
    width: max-content;
    min-height: 5%;
    position: absolute;
    top: calc(100% - 30px);
    left: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
}

.msg-time{
    height:fit-content;
    position: relative;
    font-size:xx-small;
    margin-right: 5px;
}
.read-receipt{
    height: fit-content;
    position: relative;
    font-size:xx-small;
}