.user-details{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.5px;
    border-color: gray;}

.user{
    display: flex;
    align-items: center;

}

.avatar{
    height: 100%;
    text-align: left;
    width: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.avatarimg{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    vertical-align: middle;
    align-items:center ;
}

.username{
    margin: 0px 0px 10px 10px;
}

.addimg{
    text-align: right;
    height: 50%;
    margin: 0px 10px 10px 0px;
}

.addimg:hover{
    cursor: pointer;
}